<div class="swiper-slide">
    <img src="../../../images/content/news-image1.png" alt="Искусственный свадебный букет невесты - альтернатива живым цветам">
    <div class="swiper-slide__content">
        <h3 class="swiper-slide__title">
            Искусственный свадебный букет невесты - альтернатива живым цветам
        </h3>
        <p class="swiper-slide__description">
            Букет как искусство. Роскошные презенты. Креативные варианты букета. Правила преподнесения презента...
            <a href="#">Читать далее</a>
        </p>
    </div>
</div>