<section class="news-list-header">
    <%- require("../components/elements/news-list-title.ejs")() %>
    <% if(isNavigation=='yes') { %>
        <%- require("../components/elements/news-list-navigation.ejs")() %>
    <% } %>
    <%- require("../components/elements/news-list-navigation.ejs")() %>
</section>