<section class="section section--first">
    <div class="container d-flex justify-center text--center">
        <div class="article-header">
            <div class="article-header__block">
                <%- require("../components/elements/news-page-back-btn.ejs")() %>
            </div>
            <div class="article-header__block">
                <%- require("../components/elements/news-page-title.ejs")() %>
            </div>
            <div class="article-header__block">
                <%- require("../components/elements/news-page-date.ejs")() %>
            </div>
        </div>
    </div>
</section>