<% const thumbs = [
    {
        img: 'news-image1.png',
        category: 'video',
        title: 'Искусственный свадебный букет невесты'
    },
    {
        img: 'news-image2.png',
        category: 'articles',
        title: 'Искусственный свадебный букет невесты - альтернатива живым цветам'
    },
    {
        img: 'news-image1.png',
        category: 'lifehacks',
        title: 'Искусственный свадебный букет невесты'
    },
    {
        img: 'news-image1.png',
        category: 'lifehacks',
        title: 'Aльтернатива живым цветам'
    },
    {
        img: 'news-image1.png',
        category: 'articles',
        title: 'Искусственный свадебный букет невесты'
    },
    {
        img: 'news-image2.png',
        category: 'video',
        title: 'Искусственный свадебный букет невесты - альтернатива живым цветам'
    },
    {
        img: 'news-image2.png',
        category: 'video',
        title: 'Искусственный букет'
    },
    {
        img: 'news-image1.png',
        category: 'articles',
        title: 'Искусственный свадебный букет невесты'
    }
] %>
<% thumbs.forEach(function (item) { %>
    <div class="news-card <%= item.category %>">
        <div class="item--image">
            <img src="../../../images/content/<%= item.img %>" alt="Искусственный свадебный букет невесты - альтернатива живым цветам">
        </div>
        <div class="news-card__date">
            <p class="news-card__date-value">27.03.2018</p>
        </div>
        <h3 class="news-card__title">
            <%= item.title %>
        </h3>
        <p class="news-card__description">
            Букет как искусство. Роскошные презенты. Креативные варианты букета. Правила преподнесения презента...
            <a href="#">Читать далее</a>
        </p>
        <% if(tag=='yes') { %>
            <%- require("../components/elements/news-card-tag.ejs")() %>
        <% } %>
    </div>
<% }) %>