.text-block
	margin-bottom: 45px
	width: 600px
	@media screen and (max-width: 768px) 
		font-size: 16px
		margin-bottom: 20px
		width: 100%

.text-block__title
	font-style: normal
	font-weight: 500
	font-size: 24px
	line-height: 30px
	color: #323232
	margin-bottom: 20px
	@media screen and (max-width: 768px) 
		font-size: 22px
		margin-bottom: 15px

.text-block__description
	font-style: normal
	font-weight: 300
	font-size: 18px
	line-height: 120%
	letter-spacing: 0.03em
	color: #4E4E4E
	@media screen and (max-width: 768px) 
		font-size: 16px

.images-block 
	width: 600px
	display: flex
	justify-content: space-between
	margin-bottom: 25px
	@media screen and (max-width: 768px) 
		width: 100%
		justify-content: center
		gap: 20px

.images-block__photo
	background-image: url('../../images/content/news-image2.png')
	width: 287px
	height: 377px
	background-size: 100%
	background-repeat: no-repeat
	@media screen and (max-width: 768px) 
		width: 200px
		height: 260px
	@media screen and (max-width: 477px) 
		width: 150px
		height: 195px
		background-size: 100%