.news-list-header
	margin-right: auto
	margin-left: auto
	width: 100%
	text-align: center
	margin-bottom: 40px
	margin-top: 140px

.news-list-header__title 
	font-style: normal
	font-weight: 300
	font-size: 36px
	line-height: 45px
	text-align: center
	letter-spacing: 0.03em
	text-transform: uppercase
	margin-bottom: 35px

.news-list-header__navigation
	display: flex
	justify-content: center
	list-style-type: none
	gap: 42px
	font-weight: normal
	font-size: 16px
	line-height: 100%
	padding-left: 0
	@media screen and (max-width: 768px)
		gap: 12px

a:hover
	opacity: 0.6

a:active
	opacity: 0.3

.news-list-header__link
	color: #818181
 
.active
	color: #4E4E4E

.news__list
	display: grid
	grid-gap: 45px
	width: 100%
	padding-bottom: 100px
	@media screen and (max-width: 768px)
		grid-gap: 25px