<section class="section section--full-screen section--full-screen-main">
    <div class="tabs">
        <div class="tabs--items">
            <div class="tabs--item tabs--item_active">
                <div class="tabs--item-block" style="background-image:url('./images/content/BG (1).jpg');">
                    <div class="container">
                        <div class="section--block"><h2 class="title">Дарим клубничный бокс при первом заказе</h2>
                            <p class="subtitle">Впервые у нас? Держи подарок за регистрацию! Жми на кнопку и следуй инструкции</p>
                            <a href="#" class="button button_brand">
                                <div class="button--text">Получить подарок</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabs--item">
                <div class="tabs--item-block" style="background-image:url('./images/content/BG (1).jpg');">
                    <div class="container">
                        <div class="section--block"><h2 class="title">Доставим быстро и своевременно</h2>
                            <p class="subtitle">Вам букет придет в идеальном состоянии и точно в срок! Условия доставки</p>
                            <a href="#" class="button button_brand">
                                <div class="button--text">Подробнее</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabs--item">
                <div class="tabs--item-block" style="background-image:url('./images/content/BG (1).jpg');">
                    <div class="container">
                        <div class="section--block"><h2 class="title">Придется по вкусу!</h2>
                            <p class="subtitle">Мы создаем прекрасные композиции из клубники, покрытой вкуснейшим бельгийским шоколадом.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabs--navs">
            <div class="tabs--nav tabs--nav_active">
                <h3 class="tabs--nav-title">Получить набор клубники бесплатно</h3>
            </div>
            <div class="tabs--nav"><h3 class="tabs--nav-title">Доставка по городу</h3></div>
            <div class="tabs--nav"><h3 class="tabs--nav-title">ТОП-3 недорогих красивых букетов</h3>
            </div>
        </div>
    </div>
</section>