<div class="item--product">
    <div class="item--product-wrapper">
        <div class="item--product-wrapper_inner">
            <div class="item--media">
                <a href="#" class="item--product-inner item--product-image">
                    <div class="item--media-inner">
                        <div class="item--image">
                            <img src=" /images/content/IMG-85.jpg" alt="Тиффани S" class="item--image-element">
                        </div>
                    </div>
                    <!---->
                </a>
                <a href="/catalog/klubnychnie-buketi/tyffany-m" class="item--product-inner item--product-image item--product-image_active">
                    <div class="item--media-inner">
                        <div class="item--image">
                            <img src=" /images/content/IMG-102.jpg" alt="Тиффани М" class="item--image-element">
                        </div>
                    </div>
                    <div class="item--flag item--flag_popular">
                        <img src=" /images/content/popular-flag.svg">
                    </div>
                </a>
                <a href="#" class="item--product-inner item--product-image">
                    <div class="item--media-inner">
                        <div class="item--image">
                            <img src=" /images/content/IMG-94.jpg" alt="Тиффани L" class="item--image-element">
                        </div>
                    </div>
                    <!---->
                </a>
                <div class="item--product-inner">
                    <a href="#" class="item--product-title">
                        <h3>Тиффани S</h3>
                    </a>
                    <a href="#" class="item--product-title item--product-title_active">
                        <h3>Тиффани М</h3>
                    </a>
                    <a href="#" class="item--product-title">
                        <h3>Тиффани L</h3>
                    </a>
                </div>
            </div>
            <div class="item--content">
                <div class="item--product-inner item--product-sizes">
                    <div class="link--icon item--product-size">s</div>
                    <div class="link--icon item--product-size item--product-size_active">m</div>
                    <div class="link--icon item--product-size">l</div>
                </div>
                <div class="item--product-inner">
                    <a href="#" class="item--product-price">
                        <div class="item--product-price_old_disable"></div>
                        <!---->
                        <div class="item--product-price-wrapper">1990 ₽</div>
                    </a>
                    <a href="#" class="item--product-price item--product-price_active">
                        <div class="item--product-price_old_disable"></div>
                        <!---->
                        <div class="item--product-price-wrapper">2990 ₽</div>
                    </a>
                    <a href="#" class="item--product-price">
                        <div class="item--product-price_old_disable"></div>
                        <!---->
                        <div class="item--product-price-wrapper">4990 ₽</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="item--product-actions">
            <button class="button button_brand">
                <div class="button--text">В корзину</div>
            </button>
        </div>
    </div>
</div>