<div class="images-block">
    <div class="item--image">
        <img src="../../../images/content/news-image1.png" alt="Искусственный свадебный букет невесты - альтернатива живым цветам">
    </div>
    <div class="item--image">
        <img src="../../../images/content/news-image2.png" alt="Искусственный свадебный букет невесты - альтернатива живым цветам">
    </div>
</div>