<ul class="news-list-header__navigation">
    <li><a class="news-list-header__link active" href="#" data-filter="all">Все новости</a></li>
    <li><a class="news-list-header__link" href="#" data-filter="lifehacks">Лайфхаки</a></li>
    <li><a class="news-list-header__link" href="#" data-filter="video">Видео</a></li>
    <li><a class="news-list-header__link" href="#" data-filter="articles">Статьи</a></li>
</ul>