<% const thumbs = [
    {
        img: 'news-image1.png',
        title: 'Оформление букета из тюльпанов'
    },
    {
        img: 'news-image2.png',
        title: 'Оформление букета из роз'
    },
    {
        img: 'news-image1.png',
        title: 'Какие цветы любят мужчины'
    }
] %>
<% thumbs.forEach(function (item) { %>
    <div class="news-video">
        <img src="../../../images/content/<%= item.img %>" alt="Искусственный свадебный букет невесты - альтернатива живым цветам">
        <div class="news-video__duration">12:45</div>
        <div class="news-video__content">
            <a href="#">
                <div class="news-video__button"></div>
            </a>
            <div class="news-video__title"><%= item.title %></div>
        </div>
    </div>
<% }) %>