<section data-aos="fade-up" class="section section--popular">
    <div class="container d-flex justify-center text--center"><h2 class="section--title">Популярное</h2>
    </div>
    <div class="container section--popular-container" id="SliderPopular">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="item--product">
                        <div class="item--product-wrapper">
                            <div class="item--product-wrapper_inner">
                                <div class="item--media">
                                    <a href="#" class="item--product-inner item--product-image">
                                        <div class="item--media-inner">
                                            <div class="item--image">
                                                <img src="images/content/IMG-z00 (1000px).jpg" alt="Клубничная мечта S микс" class="item--image-element">
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="item--product-inner item--product-image item--product-image_active">
                                        <div class="item--media-inner">
                                            <div class="item--image">
                                                <img src="images/content/IMG-1.jpg" alt="Клубничная мечта М микс" class="item--image-element">
                                            </div>
                                        </div>
                                        <div class="item--flag item--flag_popular">
                                            <img src="images/content/popular-flag.svg">
                                        </div>
                                    </a>
                                    <a href="#" class="item--product-inner item--product-image">
                                        <div class="item--media-inner">
                                            <div class="item--image">
                                                <img src="images/content/IMG-34.jpg" alt="Клубничная мечта L микс" class="item--image-element">
                                            </div>
                                        </div>
                                    </a>
                                    <div class="item--product-inner">
                                        <a href="#" class="item--product-title">
                                            <h3>Клубничная мечта S микс</h3>
                                        </a>
                                        <a href="#" class="item--product-title item--product-title_active">
                                            <h3>Клубничная мечта М микс</h3>
                                        </a>
                                        <a href="#" class="item--product-title">
                                            <h3>Клубничная мечта L микс</h3>
                                        </a>
                                    </div>
                                </div>
                                <div class="item--content">
                                    <div class="item--product-inner item--product-sizes">
                                        <div class="link--icon item--product-size">s</div>
                                        <div class="link--icon item--product-size item--product-size_active">m</div>
                                        <div class="link--icon item--product-size">l</div>
                                    </div>
                                    <div class="item--product-inner">
                                        <a href="#" class="item--product-price">
                                            <div class="item--product-price_old_disable"></div>
                                            <div class="item--product-price-wrapper">1690 ₽</div>
                                        </a>
                                        <a href="catalog/klubnychnie-buketi/klubnychnaia-mechta-m-myks.html" class="item--product-price item--product-price_active">
                                            <div class="item--product-price_old_disable"></div>
                                            <div class="item--product-price-wrapper">2090 ₽</div>
                                        </a>
                                        <a href="catalog/klubnychnie-buketi/klubnychnaia-mechta-l-myks.html" class="item--product-price">
                                            <div class="item--product-price_old_disable"></div>
                                            <div class="item--product-price-wrapper">3290 ₽</div>
                                        </a></div>
                                </div>
                            </div>
                            <div class="item--product-actions">
                                <button class="button button_brand">
                                    <div class="button--text">В корзину</div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item--product">
                        <div class="item--product-wrapper">
                            <div class="item--product-wrapper_inner">
                                <div class="item--media">
                                    <a href="#" class="item--product-inner item--product-image">
                                        <div class="item--media-inner">
                                            <div class="item--image">
                                                <img src="images/content/IMG-85.jpg" alt="Тиффани S" class="item--image-element"></div>
                                        </div><!---->
                                    </a>
                                    <a href="#" class="item--product-inner item--product-image item--product-image_active">
                                        <div class="item--media-inner">
                                            <div class="item--image">
                                                <img src="images/content/IMG-102.jpg" alt="Тиффани М" class="item--image-element"></div>
                                        </div>
                                        <div class="item--flag item--flag_popular">
                                            <img src="images/content/popular-flag.svg">
                                        </div>
                                    </a>
                                    <a href="#" class="item--product-inner item--product-image">
                                        <div class="item--media-inner">
                                            <div class="item--image">
                                                <img src="images/content/IMG-94.jpg" alt="Тиффани L" class="item--image-element"></div>
                                        </div><!---->
                                    </a>
                                    <div class="item--product-inner">
                                        <a href="#" class="item--product-title">
                                            <h3>Тиффани S</h3>
                                        </a>
                                        <a href="#" class="item--product-title item--product-title_active">
                                            <h3> Тиффани М</h3></a>
                                        <a href="#" class="item--product-title">
                                            <h3>Тиффани L</h3>
                                        </a>
                                    </div>
                                </div>
                                <div class="item--content">
                                    <div class="item--product-inner item--product-sizes">
                                        <div class="link--icon item--product-size">s</div>
                                        <div class="link--icon item--product-size item--product-size_active">
                                            m
                                        </div>
                                        <div class="link--icon item--product-size">l</div>
                                    </div>
                                    <div class="item--product-inner">
                                        <a href="#" class="item--product-price">
                                            <div class="item--product-price_old_disable"></div><!---->
                                            <div class="item--product-price-wrapper">1990 ₽</div>
                                        </a>
                                        <a href="#" class="item--product-price item--product-price_active">
                                            <div class="item--product-price_old_disable"></div><!---->
                                            <div class="item--product-price-wrapper">2990 ₽</div>
                                        </a>
                                        <a href="#" class="item--product-price">
                                            <div class="item--product-price_old_disable"></div><!---->
                                            <div class="item--product-price-wrapper">4990 ₽</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item--product-actions">
                                <button class="button button_brand">
                                    <div class="button--text">В корзину</div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item--product">
                        <div class="item--product-wrapper">
                            <div class="item--product-wrapper_inner">
                                <div class="item--media">
                                    <a href="#" class="item--product-inner item--product-image">
                                        <div class="item--media-inner">
                                            <div class="item--image">
                                                <img src="images/content/IMG-54.jpg" alt="Барокко S микс" class="item--image-element">
                                            </div>
                                        </div><!---->
                                    </a>
                                    <a href="#" class="item--product-inner item--product-image item--product-image_active">
                                        <div class="item--media-inner">
                                            <div class="item--image">
                                                <img src="images/content/IMG-3.jpg" alt="Барокко М микс" class="item--image-element">
                                            </div>
                                        </div>
                                        <div class="item--flag item--flag_popular">
                                            <img src="images/content/popular-flag.svg">
                                        </div>
                                    </a>
                                    <a href="#" class="item--product-inner item--product-image">
                                        <div class="item--media-inner">
                                            <div class="item--image">
                                                <img src="images/content/IMG-2.jpg" alt="Барокко L микс" class="item--image-element">
                                            </div>
                                        </div><!---->
                                    </a>
                                    <div class="item--product-inner">
                                        <a href="#" class="item--product-title">
                                            <h3>Барокко S микс</h3>
                                        </a>
                                        <a href="#" class="item--product-title item--product-title_active">
                                            <h3>Барокко М микс</h3>
                                        </a>
                                        <a href="#" class="item--product-title">
                                            <h3>Барокко L микс</h3>
                                        </a>
                                    </div>
                                </div>
                                <div class="item--content">
                                    <div class="item--product-inner item--product-sizes">
                                        <div class="link--icon item--product-size">s</div>
                                        <div class="link--icon item--product-size item--product-size_active">
                                            m
                                        </div>
                                        <div class="link--icon item--product-size">l</div>
                                    </div>
                                    <div class="item--product-inner">
                                        <a href="#" class="item--product-price">
                                            <div class="item--product-price_old_disable"></div><!---->
                                            <div class="item--product-price-wrapper">2090 ₽</div>
                                        </a>
                                        <a href="#"
                                               class="item--product-price item--product-price_active">
                                            <div class="item--product-price_old_disable"></div><!---->
                                            <div class="item--product-price-wrapper">2390 ₽</div>
                                        </a>
                                        <a href="#"
                                               class="item--product-price">
                                            <div class="item--product-price_old_disable"></div><!---->
                                            <div class="item--product-price-wrapper">2790 ₽</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item--product-actions">
                                <button class="button button_brand">
                                    <div class="button--text">В корзину</div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item--product">
                        <div class="item--product-wrapper">
                            <div class="item--product-wrapper_inner">
                                <div class="item--media">
                                    <a href="#" class="item--product-inner item--product-image item--product-image_active">
                                        <div class="item--media-inner">
                                            <div class="item--image">
                                                <img src="images/content/Nabor_16sht-min.jpg" alt="Набор 16 клубник в шоколаде" class="item--image-element">
                                            </div>
                                        </div>
                                        <div class="item--flag item--flag_popular">
                                            <img src="images/content/popular-flag.svg">
                                        </div>
                                    </a>
                                    <div class="item--product-inner">
                                        <a href="#" class="item--product-title item--product-title_active">
                                            <h3>Набор 16 клубник в шоколаде</h3>
                                        </a>
                                    </div>
                                </div>
                                <div class="item--content">
                                    <div class="item--product-inner item--product-sizes">
                                        <div class="link--icon item--product-size item--product-size_active">
                                            m
                                        </div>
                                    </div>
                                    <div class="item--product-inner">
                                        <a href="#" class="item--product-price item--product-price_active">
                                            <div class="item--product-price_old_disable"></div><!---->
                                            <div class="item--product-price-wrapper">1390 ₽</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item--product-actions">
                                <button class="button button_brand">
                                    <div class="button--text">В корзину</div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev swiper-button-nav">
                <svg width="13" height="38" viewbox="0 0 13 38" fill="none">
                    <path d="M12 1L1 19.5L12 37" stroke="#818181" stroke-width="1.5"></path>
                </svg>
            </div>
            <div class="swiper-button-next swiper-button-nav">
                <svg width="13" height="38" viewbox="0 0 13 38" fill="none">
                    <path d="M1 1L12 19.5L1 37" stroke="#D7607F" stroke-width="1.5"></path>
                </svg>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-center">
        <a href="catalog.html" class="button--transformer section--button">
            Перейти в каталог
            <span class="button--transformer-border button--transformer-border_top"></span>
            <span class="button--transformer-border button--transformer-border_bottom"></span>
            <span class="button--transformer-border button--transformer-border_left"></span>
            <span class="button--transformer-border button--transformer-border_right"></span>
        </a>
    </div>
</section>