<section class="section section--order-control">
    <div class="container">
        <div class="order-control">
            <h2 class="section--title">Контроль заказа <br> перед доставкой</h2>
            <ul class="order-control--list">
                <li class="order-control--list-item"><span class="order-control--list-item-number">1</span>Оператор отправляет фото заказа в мессенджер</li>
                <li class="order-control--list-item"><span class="order-control--list-item-number">2</span>Вы утверждаете заказ или вносите изменения</li>
                <li class="order-control--list-item"><span class="order-control--list-item-number">3</span>Передаем заказ курьеру</li>
            </ul>
            <video muted="muted" data-aos="fade-up" controls="controls" width="400" height="460" class="order-control--video">
                <source src="./video/section-control-video.mp4">
            </video>
        </div>
    </div>
</section>