<section id="section--info" class="section">
    <div class="container">
        <div class="section--blocks grid grid--xl-2 grid--md-1">
            <div class="section--block section--block_info">
                <h2 class="section--title">Курсы флористики</h2>
                <p class="section--text">Мы проводим обучение для всех желающих – как в своем офисе, так и в режиме онлайн.</p>
                <a href="http://labberryschool.ru" class="button">
                    <div class="button--text">Подробнее</div>
                </a>
                <div class="item--image"><img src="./images/content/IMG_8173 2.jpg" alt="Курсы флористики"></div>
            </div>
            <div class="section--block-divider"></div>
            <div class="section--block section--block_info">
                <h2 class="section--title">Наш Instagram</h2>
                <p class="section--text">Подписывайтесь, чтобы узнавать о самых выгодных акциях и предложениях первыми!</p>
                <a href="https://www.instagram.com/labberry_krd/" target="_blank" class="button">
                    <div class="button--text">Instagram</div>
                </a>
                <div class="item--image"><img src="./images/content/IMG_8172 2.jpg" alt="Наш Instagram"></div>
            </div>
        </div>
    </div>
</section>